<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Simpsons</title>
  </head>
  <body>
    <div id="app">
      <!-- Exercise: Statistics -->
      <h2>Statistics</h2>
      <ul>
        <li>White:</li>
        <li>Blue:</li>
        <!-- Return from computed function for characters with orange colour -->
        <li>Orange: {{ orangeCharList.length }}</li>
        <li>Green:</li>
      </ul>
      <!-- END Exercise: Statistics -->
      <!-- Conditional list rendering -->
      <h1 v-if="characters.length === 0">No Simpsons characters to display!</h1>
      <!-- These DOM elements only exist if condition is true -->
      <ul v-else>
        <li v-for="character in characters">
          {{ character.name }}
          <ul>
            <li>Actor: {{ character.actor }}</li>
            <li>ID: {{ character.id }}</li>
          </ul>
          <!-- Exercise: Add a character to a list of favourites -->
          <!-- Solution: Pass the character from the loop to the click function -->
          <button v-on:click="addToFavourites(character.name)">
            Add to Favourites
          </button>
        </li>
      </ul>
      <!-- Exercise to add favourites -->
      <h2>Favourite characters</h2>
      <ul v-if="favourites.length > 0">
        <li v-for="favourite in favourites">{{ favourite }}</li>
      </ul>
      <p v-else>No favourites yet!</p>
      <!-- Adding new characters -->
      <h2>Add a new character</h2>
      <label for="character-name">Name</label>
      <!-- Input elements reflect the data structure of `newCharacter` -->
      <!-- Input just for object `name` value -->
      <!-- Using `@` syntax for `v-on:` events -->
      <!-- Update with enter key, not every keyup -->
      <input
        type="text"
        v-model="newCharacter.name"
        @keyup.enter="addNewCharacter"
      />
      <!-- Actor -->
      <input type="text" v-model="newCharacter.actor" />
      <!-- ID number -->
      <input type="number" v-model="newCharacter.id" />
      <!-- Render new character object in preformatted element -->
      <pre>{{ newCharacter }}</pre>
      <!-- END Adding new characters -->
      <!-- END Conditional list rendering -->
    </div>
  </body>
  <!-- Vue CDN link -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    // Create app with destructuring
    const { createApp } = Vue;
    // Data goes in an object as a `createApp()` parameter
    const app = createApp({
      // data is a function to remain dynamic
      // data() {
      //   // It returns a list of objects here
      //   return {
      //     characters: [
      //       { name: "Homer Simpson", actor: "Dan Castellaneta", id: 1 },
      //       { name: "Marge Simpson", actor: "Julie Kavner", id: 2 },
      //       { name: "Bart Simpson", actor: "Nancy Cartwright", id: 3 },
      //       { name: "Lisa Simpson", actor: "Yeardley Smith", id: 4 },
      //       { name: "Maggie Simpson", actor: "Liz Georges", id: 5 },
      //     ],
      //   };
      // },
      // Implicit return syntax (wrapped in parentheses for expression)
      data: () => ({
        characters: [
          {
            name: "Homer Simpson",
            actor: "Dan Castellaneta",
            id: 1,
            colour: "white, blue",
          },
          {
            name: "Marge Simpson",
            actor: "Julie Kavner",
            id: 2,
            colour: "green",
          },
          {
            name: "Bart Simpson",
            actor: "Nancy Cartwright",
            id: 3,
            colour: "orange, blue",
          },
          {
            name: "Lisa Simpson",
            actor: "Yeardley Smith",
            id: 4,
            colour: "orange",
          },
          {
            name: "Maggie Simpson",
            actor: "Liz Georges",
            id: 5,
            colour: "blue",
          },
        ],
        favourites: [],
        // Store new characters in an object
        // We define the data structure here
        newCharacter: {
          name: "",
          actor: "",
          id: null,
          colour: [],
        },
      }),
      // For statistics exercise
      computed: {
        // The computed object is looking for functions
        orangeCharList() {
          return this.characters.filter(
            // Presence check for orange colour
            (character) => character.colour.indexOf("orange") > -1
          );
        },
      },
      methods: {
        addToFavourites(character) {
          console.log(character);

          // `push()` for arrays; don't use addition operator `+=`
          // this.favourites += character;
          this.favourites.push(character);
          console.log(this.favourites);
        },
        addNewCharacter() {
          this.characters.push(this.newCharacter);
          // Clear the `newCharacter` Vue data object when function is called
          this.newCharacter = { name: "", actor: "", id: null };
        },
      },
      // Mount directly from `createApp()`
    }).mount("#app");
  </script>
</html>
